<!-- <div *ngIf="fetchState === FetchState.LOADING">Loading...</div>
<div *ngIf="fetchState === FetchState.ERROR">Error: Deu erro</div> -->

<div *ngIf="fetchState === FetchState.SUCCESS">
  <div class="list-products">
    <h1 class="text-2xl font-bold text-center text-teal-400 mb-4 mt-1">Products List</h1>
    <p class="text-center text-gray-400 mb-4 p-title">Manage your products efficiently.</p>
  </div>

  <!-- Input search -->
  <div class="p-4">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name..."
      class="w-full md:w-1/2 p-2 rounded border border-gray-500 bg-zinc-800 text-white placeholder-gray-400" />
  </div>

  <!-- Cards products -->
  <div *ngIf="filteredProducts().length > 0; else noProducts"
    class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4 cards-wrapper">
    <div class="bg-zinc-900 text-white p-6 rounded-2xl shadow-lg hover:shadow-xl transition-shadow duration-300"
      *ngFor="let product of filteredProducts(); let i = index">
      <div class="flex justify-between items-center mb-3">
        <h2 class="text-xl font-semibold text-teal-400">{{ product.name }}</h2>
        <span class="text-sm text-gray-400">#{{ i + 1 }}</span>
      </div>

      <p class="mb-2 text-sm text-gray-300"><span class="font-semibold text-white">Description:</span> {{
        product.description }}</p>

      <div class="flex flex-wrap justify-between mb-2 text-sm">
        <p><span class="font-semibold text-white">Price:</span> {{ product.price | currency:'USD':'symbol':'1.2-2' }}
        </p>
        <p>
          <span class="font-semibold text-white">Stock:</span>
          <span [ngClass]="{
            'text-red-400': product.stockQuantity <= 10,
            'text-green-400': product.stockQuantity > 10
          }">
            {{ product.stockQuantity }}
          </span>
        </p>
      </div>

      <p class="mb-2 text-sm text-gray-300"><span class="font-semibold text-white">Category:</span> {{ product.category
        }}
      </p>

      <div class="flex flex-col text-sm text-gray-400 mb-2">
        <p><span class="text-white font-semibold">Created:</span> {{ product.createdDate | date:'short' }}</p>
        <p><span class="text-white font-semibold">Updated:</span> {{ product.updatedDate | date:'short' }}</p>
      </div>

      <p class="text-sm mb-3">
        <span class="font-semibold text-white">Status:</span>
        <span [ngClass]="{
          'text-green-400': product.isActive,
          'text-gray-500': !product.isActive
        }">
          {{ product.isActive ? 'Active' : 'Inactive' }}
        </span>
      </p>

      <div class="flex gap-3 mt-4">
        <button class="bg-teal-500 hover:bg-teal-600 text-white py-1.5 px-4 rounded-lg text-sm transition"
          (click)="openModal(product)">
          Edit
        </button>
        <button
          class="bg-red-500 hover:bg-red-600 text-white py-1.5 px-4 rounded-lg text-sm transition disabled:opacity-50"
          [disabled]="!product.isActive" (click)="openDeleteModal(product)">
          Delete
        </button>
      </div>
    </div>
  </div>

  <!-- If no products -->
  <ng-template #noProducts>
    <p class="text-center text-gray-400 mt-4">Nenhum produto encontrado.</p>
  </ng-template>

  <!-- Modal Edit -->
  <div *ngIf="modalIsOpen" class="modal" #editModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title">Edit Product</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="d-flex flex-wrap gap-4 justify-content-center">
              <!-- Coluna 1 -->
              <div class="d-flex flex-column flex-fill" style="min-width: 300px; flex: 1;">
                <input type="hidden" [(ngModel)]="productId" name="productId" />

                <!-- Nome -->
                <div class="mb-3">
                  <label for="productName" class="form-label">Name</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-tag"></i></span>
                    <input type="text" class="form-control" id="productName" name="productName"
                      placeholder="Enter product name" [(ngModel)]="name" name="name" />
                  </div>
                </div>

                <!-- Descrição -->
                <div class="mb-3">
                  <label for="productDescription" class="form-label">Description</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                    <textarea class="form-control" id="productDescription" name="productDescription" rows="3"
                      placeholder="Enter description" [(ngModel)]="description" name="description"></textarea>
                  </div>
                </div>

                <!-- Preço -->
                <div class="mb-3">
                  <label for="productPrice" class="form-label">Price</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                    <input type="number" class="form-control" id="productPrice" name="productPrice" name="productPrice"
                      placeholder="0.00" step="0.01" [(ngModel)]="price" />
                  </div>
                </div>

                <!-- Quantidade em Estoque -->
                <div class="mb-3">
                  <label for="stockQuantity" class="form-label">Stock Quantity</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-box-seam"></i></span>
                    <input type="number" class="form-control" id="stockQuantity" name="stockQuantity"
                      placeholder="Enter stock quantity" [(ngModel)]="stockQuantity" name="stockQuantity" />
                  </div>
                </div>
              </div>

              <!-- Coluna 2 -->
              <div class="d-flex flex-column flex-fill" style="min-width: 300px; flex: 1;">
                <!-- Categoria -->
                <div class="mb-3">
                  <label for="category" class="form-label">Category</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-tags"></i></span>
                    <input type="text" class="form-control" id="category" name="category" placeholder="Enter category"
                      [(ngModel)]="category" />
                  </div>
                </div>

                <!-- Ativo -->
                <div class="form-check mb-3 mt-2">
                  <input class="form-check-input" type="checkbox" id="isActive" name="isActive" [(ngModel)]="isActive"
                    name="isActive" />
                  <label class="form-check-label" for="isActive">Active</label>
                </div>

                <!-- Espaço flexível para empurrar o botão pra base -->
                <div class="flex-grow-1"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- Botão -->
          <button type="button" class="btn btn-add mt-auto" (click)="updateProduct()">
            <i class="bi bi-check2-circle me-1"></i>Save Product
          </button>
          <button type="button" class="btn btn_close mt-auto" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete -->
  <div class="modal" *ngIf="modaldeleteIsOpen" #deleteModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h5 class="modal-title">Delete Product</h5>
          <button type="button" class="close" (click)="closeDeleteModal()" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" [(ngModel)]="productId" name="productId" />
          <p>Are you sure you want to delete this product?</p>
        </div>
        <div class="modal-footer">
          <!-- Botão -->
          <button type="button" class="btn btn-add mt-auto" (click)="deleteProduct()">
            <i class="bi bi-check2-circle me-1"></i>Delete Product
          </button>
          <button type="button" class="btn btn_close mt-auto" (click)="closeDeleteModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>