.table-wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin: 2rem 0rem 2rem 0rem;
  font-family: var(--montserrat);
}

.title-wrapper>h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

/* Estilos para a tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: var(--open-sans);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table .product-name {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.table th {
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table td {
  font-size: 0.8rem;
  color: #9c9b9c;
  font-weight: bold;
}

.table .active {
  color: #A4E796;
  font-weight: bold;
}

.table .inactive {
  color: #E04F4C;
}

/* Estilo para os botões de ação */
.table-action-btns {
  justify-content: center;
  display: flex;
  gap: 0.7rem;
}

.table-action-btn {
  width: 66px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.table-action-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Marca em vermelho os produtos com estoque baixo */
.table .low-stock {
  color: #E04F4C;
  font-weight: bold;
}

/* Marca em verde os produtos com estoque alto */
.table .high-stock {
  color: #A4E796;
  font-weight: bold;
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-dialog{
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding: 0.3rem !important;
    margin-top: 3rem;
  }

  .table-wrapper-container {
    padding: 0rem;
    height: auto;
  }

  .table-container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
  }

  .title-wrapper>h1 {
    font-size: 4rem;
  }

  .table th,
  .table td {
    font-size: 0.9rem;
    padding: 14px;
  }

  .table .product-name {
    font-size: 1.1rem;
  }

  .table-action-btn {
    width: 80px;
    padding: 6px 12px;
  }

  .title-wrapper h1 {
    font-size: 2.5rem;
  }
}