<div *ngIf="!isMobile" #sidebar class="sidebar" (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()">
    <ul>
        <!-- Logo -->
        <li class="logo">
            <a href="#">
                <span class="icon"><i class="bi bi-box-seam"></i></span>
                <span class="title">Logo of site</span>
            </a>
        </li>

        <li>
            <a routerLink="/">
                <span class="icon"><i class="bi bi-box-seam"></i></span>
                <span class="title">List Products</span>
            </a>
        </li>

        <li>
            <a routerLink="/add-product">
                <span class="icon"><i class="bi bi-bag-plus-fill"></i></span>
                <span class="title">Add Product</span>
            </a>
        </li>

        <li>
            <a routerLink="/list-sales">
                <span class="icon"><i class="bi bi-receipt"></i></span>
                <span class="title">List Sales</span>
            </a>
        </li>

        <li>
            <a routerLink="/add-sales">
                <span class="icon"><i class="bi bi-receipt"></i></span>
                <span class="title">add Sales</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><i class="bi bi-box-seam"></i></span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li class="account">
            <!-- Usar Profile -->
            <a href="#">
                <span class="icon">
                    <div class="img-box">
                        <img src="/assets/images/sidebar/sub-zero-profile.webp" alt="User Profile">
                    </div>
                </span>
                <span class="title">Hannah Walker</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><i class="bi bi-box-seam"></i></span>
                <span class="title">Logout</span>
            </a>
        </li>
    </ul>
</div>

<!-- Mobile Sidebar -->
<div id="menu" *ngIf="isMobile">
    <div id="menu-bar" (click)="menuOnClick()" [ngClass]="{'change': isMenuOpen}">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </div>
    <nav class="nav" [ngClass]="{'change': isMenuOpen}">
        <ul>
            <li (click)="menuOnClick()">
                <a routerLink="/">
                    <span class="icon"><i class="bi bi-box-seam"></i></span>
                    <span class="title ms-3">List Products</span>
                </a>
            </li>
            <li (click)="menuOnClick()">
                <a routerLink="/add-product">
                    <span class="icon"><i class="bi bi-bag-plus-fill"></i></span>
                    <span class="title ms-3">Add Product</span>
                </a>
            </li>
            <li><a routerLink="/list-sales">

                    <span class="icon"><i class="bi bi-receipt"></i></span>
                    <span class="title">List Sales</span>
                </a></li>
            <li><a href="#">Blog</a></li>
            <li>
                <a routerLink="/add-sales">
                    <span class="icon"><i class="bi bi-receipt"></i></span>
                    <span class="title">add Sales</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="menu-bg" [ngClass]="{'change-bg': isMenuOpen}"></div>