.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-wrapper {
    width: 70vw;
}

form {
    z-index: 1;
}

.btn-add {
    border-radius: 3rem;
    background-color: var(--color-blue);
    color: white;
    padding: 1rem 1.5rem;
}