.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.section-wrapper .container-add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    width: 70vw;
}

form {
    z-index: 1;
    font-family: var(--montserrat);
}

.btn-add {
    border-radius: 3rem;
    color: white;
    padding: 1rem 1.5rem;
}

@media screen and (max-width: 768px) {
    .form-wrapper h3 {
        font-size: 2rem;
    }

    .form-wrapper {
        width: 95vw;
        margin-top: 1.5rem;
    }

    .container {
        padding: 0rem;
        display: flex;
        justify-content: center;
    }

    form label {
        font-size: 1.2rem;
    }

    .btn-add {
        margin-top: 2rem !important;
        font-size: 1.2rem;
    }
}