<!-- <div *ngIf="fetchState === FetchState.LOADING">Loading...</div>
<div *ngIf="fetchState === FetchState.ERROR">Error: Deu erro</div> -->

<div *ngIf="fetchState === FetchState.SUCCESS">
  <!-- Input search -->
  <div class="p-4 input-wrapper">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name..." class="w-full placeholder-gray-400" />
  </div>

  <!-- Cards products -->
  <div *ngIf="filteredSales().length > 0; else noProducts"
    class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4">

    <div *ngFor="let sale of filteredSales(); let i = index"
      class="bg-zinc-800 text-white p-6 rounded-2xl shadow-lg hover:shadow-2xl transition duration-300">

      <!-- Cabeçalho da venda -->
      <div class="mb-4">
        <h2 class="text-xl font-bold mb-1">Venda #{{ sale.id }}</h2>
        <p class="text-sm text-gray-400">Data:
          <span class="text-gray-200">{{ sale.date | date:'short' }}</span>
        </p>
        <p class="text-sm text-gray-400">Total:
          <!-- <span class="text-green-400 font-medium">R$ {{ sale.total | number:'1.2-2' }}</span> -->
          <span class="text-green-400 font-medium">R$ total</span>
        </p>
      </div>

      <!-- Itens da venda -->
      <div class="mt-4">
        <h4 class="text-sm text-gray-300 font-semibold mb-2">Itens da venda:</h4>
        <ul class="divide-y divide-zinc-700">
          <li *ngFor="let item of sale.items" class="py-2 flex justify-between items-center text-sm text-gray-200">
            <span>{{ item.productName }} <span class="text-gray-400">x{{ item.quantity }}</span></span>
            <span class="text-green-300">R$ {{ (item.unitPrice * item.quantity) | number:'1.2-2' }}</span>
          </li>
        </ul>
      </div>
      <p>Total da venda: R$ {{ getTotalSales(sale) | number:'1.2-2' }}</p>
    </div>
  </div>


  <!-- If no products -->
  <ng-template #noProducts>
    <p class="text-center text-gray-400 mt-4">Nenhum produto encontrado.</p>
  </ng-template>