<!-- <div *ngIf="fetchState === FetchState.LOADING">Loading...</div>
<div *ngIf="fetchState === FetchState.ERROR">Error: Deu erro</div> -->

<div *ngIf="fetchState === FetchState.SUCCESS">
  <!-- Input search -->
  <div class="p-4 input-wrapper">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name..." class="w-full placeholder-gray-400" />
  </div>

  <!-- Cards products -->
  <div *ngIf="filteredSales().length > 0; else noProducts"
    class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4 cards-wrapper">
    <div class="bg-zinc-900 text-white p-6 rounded-2xl shadow-lg hover:shadow-xl transition-shadow duration-300"
      *ngFor="let sale of filteredSales(); let i = index">
      <div class="flex justify-between items-center mb-3 name-wrapper">
        <h2 class="text-xl font-semibold">{{sale.id }}</h2>
        <span class="text-sm text-gray-400">#{{ i + 1 }}</span>
      </div>

      <div class="flex flex-col text-sm text-gray-400 mb-2">
        <p><span class="text-white font-semibold">Date of sale:</span> {{ sale.date| date:'short' }}</p>
      </div>

      

      
    </div>
  </div>

  <!-- If no products -->
  <ng-template #noProducts>
    <p class="text-center text-gray-400 mt-4">Nenhum produto encontrado.</p>
  </ng-template>

 