.form-wrapper {
    background-color: var(--black-dark);
}

.form-wrapper h3 {
    color: var(--purple);
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

form input {
    padding: 0.5rem 1.5rem;
    background-color: var(--black-light);
    color: var(--white);
    border: none;
}

.input-group span,
select {
    border: none;
    background-color: var(--black-light);
    color: var(--white);
    padding: 1rem;
}

.btn-add {
    background-color: var(--purple);
    color: var(--white);
    padding: 1rem 1.5rem;
}

.btn-add:hover {
    background-color: var(--purple-hover);
    color: var(--white);
}

.btn-add-prod {
    background-color: var(--petroleumBlue);
    color: var(--white);
    padding: 1rem 1.5rem;
}

.btn-add-prod:hover {
    background-color: var(--petroleumBlue-hover);
    color: var(--white);
}